extends layout

block content
  h1 Contato
  p Informações sobre como contactar o autor

    address
        strong J. Ricardo Simões Rodrigues
        br
        a(href='mailto:jricardosimoes@gmail.com') jricardosimoes@gmail.com